.headerContainer {
  display: flex;
  align-items: center;

  height: 6.5rem;
  padding: 2rem 4rem;
  
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-100);

  img {
    cursor: pointer;
  }

  p {
    margin-left: 2rem;
    padding: 0.25rem 0.25rem 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  time {
    margin-left: auto;
    text-transform: capitalize;
  }

  @media screen and (max-width: 750px) {
    p {
      display: none;
    }
  }
}